<div class="builder-container">
  <sal-button (onClick)="onClick($event)" [config]="buttonConfig"></sal-button>
</div>

<form [formGroup]="form">
  <div
    formArrayName="styles"
    *ngFor="let styleControl of stylesControls; let i = index"
  >
    <div [formGroupName]="i">
      <style-form
        formControlName="value"
        (onDelete)="deleteStyle(i)"
        [style]="styleControl.value.style"
      ></style-form>
    </div>
  </div>
</form>

<!-- Template -->
<ng-template #template let-data="data">
  <sal-table
    (rowSelect)="onStyleSelect($event)"
    [data]="data"
    [columns]="['id']"
  ></sal-table>
</ng-template>
