//@import '../../../../../../../sam-styles/variables.scss';
@import "variables.scss";

.section {
  display: grid;
  //place-content: flex-start;
  align-content: flex-start;
  overflow: auto;
  height: 100%;
  //height: calc(100% - #{$secondary-toolbar-height});
  .navbar {
    grid-row: 1/2;
  }
  .block-list {
    grid-row: 2/3;
  }
}

:host {
  &.design-view {
    border-right: 3px solid;
  }
  overflow: hidden;
  //border-right: 2px solid #e1e9ed;
}
