<!-- <sam-toolbar
(onItemClick)="runCommand($event)"
[menuData$]="menuData$"
>
</sam-toolbar> -->
<div
  cdkDropList
  [cdkDropListData]="data.blockList"
  (cdkDropListDropped)="drop($event)"
  #parentContainer
  class="section"
>
  <div class="block-list" #blockListContainer></div>
  <!-- *ngIf="isDesignMode" -->
  <sal-navbar
    class="navbar"
    *ngIf="!pageSv.isPreviewMode"
    (onItemClick)="runCommand($event)"
    [startList]="startList"
    [endList]="endList"
    color="primary-100"
  >
    <h3 #title class="nav-title">{{ "section" }}</h3>
  </sal-navbar>
</div>

<!-- Template -->
<ng-template #blocksBoardTemplate let-blockTemplateList="data">
  <ws-blocks-board
    (onSelect)="onSelectBlockTempate($event)"
    [blockTemplateList]="blockTemplateList"
  ></ws-blocks-board>
</ng-template>
