.dashboard-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: minmax(100vh, auto);
    grid-template-areas: "sidebar content";
    overflow-y: auto;
    &.hideMainSidebar {
      grid-template-areas: "content content";
    }
  }
  
  .dashboard-sidebar {
    grid-area: sidebar;
  }
  
  .dashboard-content {
    grid-area: content;
  }