<div class="user-dashboard-container">
  <div class="sidenav">
    <sal-sidenav>
      <sal-sidenav-panel>
        <sal-icon-btn
          selectionClass="selection"
          (click)="openWebsiteList()"
          title
          icon="menu"
          text="Websites"
        ></sal-icon-btn>
      </sal-sidenav-panel>
      <sal-sidenav-panel>
        <sal-icon-btn
          selectionClass="selection"
          (click)="openWebsiteList()"
          title
          icon="menu"
          text="222"
        ></sal-icon-btn>
      </sal-sidenav-panel>
      <sal-sidenav-panel>
        <sal-icon-btn
          selectionClass="selection"
          (click)="openWebsiteList()"
          title
          icon="menu"
          text="222"
        ></sal-icon-btn>
      </sal-sidenav-panel>
    </sal-sidenav>
  </div>
  <div class="content">
    <router-outlet (activate)="subToRoute($event)"></router-outlet>
  </div>
</div>
