.files-container {
    overflow: auto;
    height: calc(100% - 10px);
}

.files {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, .2fr));
    gap: 10px;
}

.file {
    position: relative;
}

:host {
    display: grid;
    overflow: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mat-checkbox {
    position: absolute;
    left: 10px;
    top: 10px;
}