<div class="files-container">
  <!-- <sal-navbar
    color="primary-500"
    (onItemClick)="runCommand($event)"
    [startList]="startList"
    class="padding"
  ></sal-navbar> -->

  <input #fileInput (change)="fileChange($event)" type="file" multiple hidden />

  <div class="files">
    <div
      #file
      (mouseenter)="onHover(index)"
      (mouseleave)="onLeave(index)"
      class="file"
      *ngFor="let file of fileList$ | async; index as index"
    >
      <img (click)="onClickFile(index, file)" [src]="getSrc(file)" />
      <div
        class="empty-circle"
        [class.show-empty-circle]="showEmptyCircle"
      ></div>
      <mat-icon (click)="onClickCheck(index, file)" class="select"
        >check_circle_two_tone</mat-icon
      >
      <mat-icon (click)="onZoom(file)" class="zoom">zoom_in</mat-icon>
    </div>
  </div>
</div>

<ng-template #imgZoom let-src="data">
  <div class="zoom-container">
    <img [src]="src" />
  </div>
</ng-template>
