<button mat-button (click)="value.setValue(1); close()">Normal</button>
<button mat-button (click)="value.setValue(1.15); close()">1.15</button>
<button mat-button (click)="value.setValue(1.5); close()">1.5</button>
<button mat-button (click)="value.setValue(2); close()">Double</button>
<mat-form-field>
  <mat-label>custom value</mat-label>
  <input #input [formControl]="value" matInput autocomplete="off"/>
  <mat-error *ngIf="value.invalid">please enter positive number</mat-error>
</mat-form-field>
<sal-button [config]="btnConfig" (onClick)="close($event)"></sal-button>
