<!-- <ws-page-factory
  [page$]="page$"
  [info$]="info$"
  (onSave)="save($event)"
  (onRealPreview)="onRealPreview($event)"
>
  <ng-container *ngIf="page$ | async as page">
    <ws-page-info [page$]="page$" (onInfo)="onInfo($event)" #info>
      <mat-form-field
        *ngIf="status === 'edit' && !page.id.startsWith('homepage-')"
      >
        <mat-label>{{ "slug" | translate }}</mat-label>
        <input matInput [formControl]="slug" autocomplete="off" />
      </mat-form-field>
    </ws-page-info>
  </ng-container>
</ws-page-factory> -->
<sal-page
  [page$]="page$"
  [info$]="info$"
  [editable]="true"
  (onPreviewMode)="onPreviewMode($event)"
  (onSave)="save($event)"
  (onRealPreview)="onRealPreview($event)"
>
  <!-- info -->
  <ws-page-info [page$]="page$" (onInfo)="onInfo($event)" #info>
    <ng-container *ngIf="page$ | async as page">
      <mat-form-field
        *ngIf="status === 'edit' && !page.id.startsWith('homepage-')"
      >
        <mat-label>{{ "slug" | translate }}</mat-label>
        <input matInput [formControl]="slug" autocomplete="off" />
      </mat-form-field>
    </ng-container>
  </ws-page-info>
  <!-- files -->
  <!-- <sal-files-browser
      [fileList$]="fileList$"
      (onUpload)="uploadFiles($event)"
      fileBrowser
    ></sal-files-browser> -->
  <ws-img-browser fileBrowser></ws-img-browser>
</sal-page>
