<!-- <sam-toolbar
(onItemClick)="runCommand($event)"
[menuData$]="menuData$"
>
</sam-toolbar> -->

<sal-navbar
  *ngIf="isDesignMode"
  (onItemClick)="runCommand($event)"
  [startList]="startList"
  [endList]="endList"
  color="primary-100"
>
<h3 #title class="nav-title">{{'section'}}</h3>
</sal-navbar>

<div #parentContainer class="block-list-container">
  <div #blockListContainer></div>
</div>

<!-- Template -->
<ng-template #blocksBoardTemplate let-data="data">
 <ws-blocks-board (onSelect)="closeBlocksBoard()" [data]="data"></ws-blocks-board>
</ng-template>
