<sal-table
  [data]="entities$ | async"
  [columns]="['id', 'name', 'userId']"
  [hasAction]="true"
  [hasSelection$]="showSelectionSubject$"
  (multiSelect)="onMultiSelect($event)"
  (rowSelect)="onRowSelect($event)"
  (actionClick)="onActionClick($event)"
></sal-table>

<sal-context-menu #contextMenu>
  <sal-icon-btn (click)="editEntity()" icon="edit" text="edit"></sal-icon-btn>
  <sal-icon-btn
    (click)="deleteEntity()"
    icon="delete"
    text="delete"
  ></sal-icon-btn>
  <sal-icon-btn
    (click)="openWebsiteDashboard()"
    icon="dashboard"
    text="go to dashboard"
  ></sal-icon-btn>
</sal-context-menu>

<sal-portal hostId="salTableExternalGuest">
  <div class="tools">
    <button (click)="addEntity()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="deleteEntities()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</sal-portal>
