<sal-table
  [data]="entities$ | async"
  [columns]="['id', 'name', 'userId']"
  [hasAction]="true"
  [hasSelection$]="showSelectionSubject$"
  (multiSelect)="onMultiSelect($event)"
  (rowSelect)="onRowSelect($event)"
  (actionClick)="onActionClick($event)"
></sal-table>

<sal-context-menu #contextMenu>
  <sal-btn (click)="editEntity()" icon="edit">edit</sal-btn>
  <sal-btn (click)="deleteEntity()" icon="delete">delete</sal-btn>
  <sal-btn (click)="openWebsiteDashboard()" icon="dashboard"
    >go to dashboard</sal-btn
  >
</sal-context-menu>

<sal-portal hostId="salTableExternalGuest">
  <div class="tools">
    <button (click)="addEntity()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="deleteEntities()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</sal-portal>
