<form [formGroup]="form" (submit)="send()" class="sal-login-form">
  <h1>Login</h1>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput autocomplete="off" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput autocomplete="off" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Login</button>
  <div class="forgot">
    <button color="primary" class="btn" (click)="newPassword()" type="button" mat-button>forgot password</button>
  </div>
  <div class="signup">
    <div class="text">
      if you don't have an account?
    </div>
    <button color="primary" class="btn" (click)="newAccount()" type="button" mat-button>create a new account</button>
  </div>
</form>