<mat-expansion-panel
  [class.no-divider]="!hasDivider"
  [hideToggle]="!hasContent"
>
  <mat-expansion-panel-header
    #header
    [expandedHeight]="lineHeight"
    [collapsedHeight]="lineHeight"
  >
    <mat-panel-title>
      <div class="sal-sidenav-header">
        <ng-content select="[title]"></ng-content>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="pointer" *ngIf="hasContent">
    <ng-content select="[content]"></ng-content>
  </div>
</mat-expansion-panel>
