$brown: (
    50 : #eae7e6,
    100 : #cac2c0,
    200 : #a79a97,
    300 : #83716d,
    400 : #69524d,
    500 : #4e342e,
    600 : #472f29,
    700 : #3d2723,
    800 : #35211d,
    900 : #251512,
    A100 : #ff7b67,
    A200 : #ff4f34,
    A400 : #ff2301,
    A700 : #e61f00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$creme: (
    50 : #fefbf8,
    100 : #fbf5ed,
    200 : #f9efe1,
    300 : #f7e8d5,
    400 : #f5e3cc,
    500 : #f3dec3,
    600 : #f1dabd,
    700 : #efd5b5,
    800 : #edd1ae,
    900 : #eac8a1,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($brown);
$accent: mat-palette($creme);
$sam-theme-5: mat-light-theme($primary, $accent);