$sam-light-grey:   (
    50 : #fefefe,
    100 : #fcfdfd,
    200 : #fbfbfc,
    300 : #f9f9fb,
    400 : #f7f8fa,
    500 : #f6f7f9,
    600 : #f5f6f8,
    700 : #f3f5f7,
    800 : #f2f3f6,
    900 : #eff1f5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sam-facebook-blue: (
    50 : #e1f0ff,
    100 : #b3daff,
    200 : #81c1ff,
    300 : #4ea8ff,
    400 : #2896ff,
    500 : #0283ff,
    600 : #027bff,
    700 : #0170ff,
    800 : #0166ff,
    900 : #0153ff,
    A100 : #ffffff,
    A200 : #f2f6ff,
    A400 : #bfd0ff,
    A700 : #a6bdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($sam-facebook-blue);
$accent:  mat-palette($sam-light-grey);
$sam-theme-8: mat-light-theme($primary, $accent);
