<mat-card>
  <mat-card-header color="accent">
    <mat-card-title>{{ styleId }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="style-form-container">
      <style-value-input
        [styleConfig]="styleConfig"
        [formControlName]="firstPart"
        [label]="topLabel"
      ></style-value-input>

      <style-value-input
        [styleConfig]="styleConfig"
        *ngIf="showAll"
        [formControlName]="secondPart"
        label="right"
      ></style-value-input>

      <style-value-input
        [styleConfig]="styleConfig"
        *ngIf="showAll"
        [formControlName]="thirdPart"
        label="bottom"
      ></style-value-input>

      <style-value-input
        [styleConfig]="styleConfig"
        *ngIf="showAll"
        [formControlName]="fourthPart"
        label="left"
      ></style-value-input>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon (click)="deleteStyle()">delete</mat-icon>
    </button>
    <mat-slide-toggle
    *ngIf="showFourvalueBtn"
      (change)="onCheckboxChange($event.checked)"
      color="primary"
    >
      {{ "all equal" }}
    </mat-slide-toggle>
  </mat-card-actions>
</mat-card>
