<!-- <sal-navbar
  color="primary-500"
  (onItemClick)="runCommand($event)"
  [startList]="startList"
  [endList]="endList"
  class="padding"
></sal-navbar> -->

<sal-table
  [data]="pages$ | async"
  [columns]="['title']"
  [hasAction]="true"
  [hasSelection$]="showSelectionSubject$"
  (multiSelect)="onSelect($event)"
  (rowSelect)="onPageClick($event)"
  (actionClick)="onActionClick($event)"
></sal-table>

<!-- <sam-context-menu
  #contextMenu
  [contextMenuItems$]="contextMenu$"
  (itemClick)="onContextMenuItemClick($event)"
></sam-context-menu> -->

<sal-context-menu #contextMenu>
  <sal-icon-btn (click)="test1()" icon="edit"></sal-icon-btn>
  <sal-icon-btn (click)="test1()" icon="menu"></sal-icon-btn>
</sal-context-menu>

<ng-template cdk-portal>
  <div class="tools">
    <button (click)="addPage()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="deletePages()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>
