:host.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.mat-toolbar {
  a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .logo {
    width: 100px;
    display: grid;
    place-items: center;
    img {
      width: 100%;
    }
  }
  a:hover:not(.active) {
    background-color: #111;
  }
  .active-menu {
    background-color: #04aa6d;
  }
  .sign-user {
    .mat-icon {
      height: 30px;
      width: 30x;
    }
    .material-icons {
      font-size: 30px;
    }
  }
}
