<ws-website-dashbaord-header
  *ngIf="!(isPreviewMode$ | async)"
></ws-website-dashbaord-header>
<div #dashContainer class="website-dashboard-container">
  <div [hidden]="isPreviewMode$ | async" class="sidenav">
    <sal-sidebar
      [list]="sidebarList"
      [hasDivider]="false"
      activeClass="primary-50"
      (onSelect)="onNavigate($event)"
      [idToOpen]="idToOpen"
    >
    </sal-sidebar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- 
      
        
        
        childrenBg="#b1d5e9"
        [idToOpen]="idToOpen"
        
        (activate)="subToRoute($event)"
   -->
